# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/serverless.kloudlite.io_lambdas.yaml
- bases/elasticsearch.msvc.kloudlite.io_services.yaml
- bases/opensearch.msvc.kloudlite.io_services.yaml
- bases/influxdb.msvc.kloudlite.io_services.yaml
- bases/influxdb.msvc.kloudlite.io_buckets.yaml
- bases/s3.aws.kloudlite.io_buckets.yaml
- bases/artifacts.kloudlite.io_harborprojects.yaml
- bases/artifacts.kloudlite.io_harboruseraccounts.yaml
- bases/redpanda.msvc.kloudlite.io_services.yaml
- bases/redpanda.msvc.kloudlite.io_topics.yaml
- bases/mongodb.external.kloudlite.io_databases.yaml
- bases/mysql.external.kloudlite.io_databases.yaml
- bases/crds.kloudlite.io_accountrouters.yaml
- bases/mongodb.msvc.kloudlite.io_standaloneservices.yaml
- bases/mongodb.msvc.kloudlite.io_clusterservices.yaml
- bases/mongodb.msvc.kloudlite.io_databases.yaml
- bases/redis.msvc.kloudlite.io_standaloneservices.yaml
- bases/redis.msvc.kloudlite.io_clusterservices.yaml
- bases/redis.msvc.kloudlite.io_aclaccounts.yaml
- bases/mysql.msvc.kloudlite.io_standaloneservices.yaml
- bases/mysql.msvc.kloudlite.io_clusterservices.yaml
- bases/mysql.msvc.kloudlite.io_databases.yaml
- bases/redis.msvc.kloudlite.io_aclconfigmaps.yaml
- bases/zookeeper.msvc.kloudlite.io_services.yaml
- bases/redpanda.msvc.kloudlite.io_aclusers.yaml
- bases/extensions.kloudlite.io_clusters.yaml
- bases/redpanda.msvc.kloudlite.io_admins.yaml
- bases/neo4j.msvc.kloudlite.io_standaloneservices.yaml
- bases/artifacts.kloudlite.io_harborwebhooks.yaml
- bases/csi.kloudlite.io_awsebs.yaml
- bases/csi.kloudlite.io_drivers.yaml
- bases/csi.kloudlite.io_storageclasses.yaml
- bases/crds.kloudlite.io_edgerouters.yaml
- bases/elasticsearch.msvc.kloudlite.io_kibanas.yaml
- bases/extensions.kloudlite.io_edgewatchers.yaml
- bases/extensions.kloudlite.io_edgeworkers.yaml
- bases/cluster-setup.kloudlite.io_primaryclusters.yaml
- bases/cluster-setup.kloudlite.io_secondaryclusters.yaml
- bases/crds.kloudlite.io_envs.yaml
- bases/crds.kloudlite.io_configs.yaml
- bases/crds.kloudlite.io_secrets.yaml
- bases/crds.kloudlite.io_secondaryenvs.yaml
- bases/crds.kloudlite.io_anchors.yaml
- bases/cluster-setup.kloudlite.io_managedclusters.yaml
- bases/clusters.kloudlite.io_byocs.yaml
#+kubebuilder:scaffold:crdkustomizeresource
