variable "agent-node-data" {
  type = map(object({
    name = string
    ip = string
  }))
  default = {
    {{ range $i, $node := .AgentNodes }}{{if $i}},{{end}}"{{$node.Name}}":{
        name:"{{$node.Name}}"
        ip: "{{$node.Ip}}"
    }{{ end}}
  }
}

variable "agent-nodes" {
 type = set(string)
  default = [
    {{ range $i, $node := .AgentNodes }}{{if $i}},{{end}} "{{$node.Name}}"{{ end}}
  ]
}
variable "cluster-id" {
  default = "{{ .ClusterID }}"
}
variable "do-token" {
  default = "{{ .DOToken }}"
}
variable "keys-path" {
  default = "{{ .KeysPath }}"
}
variable "do-image-id" {
  default = "{{ .DOImageID }}"
}
variable "region" {
  default = "{{ .Region }}"
}
