snippet pproject
	project *crdsv1.Project
snippet papp
	app *crdsv1.App
snippet pmsvc
	msvc *crdsv1.ManagedService
snippet pmres
	mres *crdsv1.ManagedResource
snippet tproject
	crdsv1.Project
snippet tapp
	crdsv1.App
snippet lgd
	r.logger.Debugf("${0}")
snippet lgi
	r.logger.Infof("${0}")
snippet lge
	r.logger.Error("${0}")
