bin
.secrets
.cache_ggshield
tags
vendor
go.work
go.work.sum

.idea
*.log
node_modules
.dump

.direnv

.terraform
.terraform.d
.terraform.lock.hcl
terraform.tfstate
terraform.tfvars
*.tfstate*

*.tar

# operator
dist
testbin
.release
config/crd/bases/_.yaml
.tmp
.kube
.out
