.task

bin
vendor
.idea
*.log
.keys

terraform.tfstate
terraform.tfvars
.terraform.lock.hcl
.terraform
.keys
deploy/
.task
.settings
# wgman
.secrets
node_modules
.pnpm
nohup.out

.GOPATH
.GO

.kl/secret*
__debug_bin
cmd/struct-to-graphql
