on:
  release:
    types: [created]

jobs:
  releases-matrix:
    name: Release Go Binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # build and publish in parallel: linux/386, linux/amd64, linux/arm64, windows/386, windows/amd64, darwin/amd64, darwin/arm64
        goos: [linux, windows, darwin]
        goarch: ["386", amd64, arm64]
        clis: [kl, kli]
        exclude:
          - goarch: "386"
            goos: darwin
          - goarch: arm64
            goos: windows
    steps:
    - uses: actions/checkout@v3
    - name: Extract tag name
      id: tag_name
      run: echo "::set-output name=TAG_NAME::${GITHUB_REF#refs/tags/}"
    - uses: wangyoucao577/go-release-action@v1.30
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: ${{ matrix.goos }}
        goarch: ${{ matrix.goarch }}
        goversion: "https://dl.google.com/go/go1.19.1.linux-amd64.tar.gz"
        project_path: "."
        ldflags: "-X github.com/kloudlite/kl/cmd.Version=${{ steps.tag_name.outputs.TAG_NAME }}"
        binary_name: ${{ matrix.clis }}
        build_command: "go build -ldflags '${{ inputs.ldflags }}' -o ${{ inputs.binary_name }} github.com/kloudlite/kl/clis/${{ inputs.binary_name }}"
        extra_files: LICENSE README.md
