# permissions for end users to edit aclaccounts.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: aclaccount-editor-role
rules:
- apiGroups:
  - redis.msvc.kloudlite.io
  resources:
  - aclaccounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - redis.msvc.kloudlite.io
  resources:
  - aclaccounts/status
  verbs:
  - get
