@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.heading4xl {
    @apply font-bold text-[40px] leading-[48px];
}

.heading3xl {
    @apply font-semibold text-[32px] leading-[40px];
}

.heading2xl {
    @apply font-semibold text-[28px] leading-[32px];
}

.headingXl {
    @apply font-semibold text-[24px] leading-[28px];
}

.headingLg {
    @apply font-semibold text-[20px] leading-[24px];
}

.headingMd {
    @apply font-semibold text-[16px] leading-[24px];
}

.headingSm {
    @apply font-semibold text-[14px] leading-[16px];
}

.headingXs {
    @apply font-semibold text-[12px] leading-[16px];
}

.bodyLg {
    @apply text-[16px] leading-[20px];
}

.bodyLg-medium {
    @apply bodyLg font-medium;
}

.bodyLg-underline {
    @apply bodyLg underline;
}

.bodyMd {
    @apply text-[14px] leading-[20px];
}

.bodyMd-medium {
    @apply font-medium bodyMd;
}

.bodyMd-semibold {
    @apply bodyMd font-semibold;
}

.bodyMd-underline {
    @apply bodyMd underline;
}

.bodySm {
    @apply text-[12px] leading-[16px];
}

.bodySm-medium {
    @apply bodySm font-medium;
}

.slider {
    @apply w-[100%] h-[100%] bg-[#F5F5F5] rounded-[10px] overflow-hidden;
}


.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinner {
    -moz-appearance: textfield;
}

.toast[data-animation=entering] {
    -webkit-animation-name: slide-in;
    animation-name: slide-in;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

.toast[data-animation=queued] {
    animation-name: fade-in;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

.toast[data-animation=exiting] {
    animation-name: slide-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        transform: translateX(200px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes DialogFadeIn {
    from {
        opacity: 0;
        transform: translate(-49%, -49%) scale(0.96);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes DialogFadeOut {
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    to {
        opacity: 0;
        transform: translate(-49%, -49%) scale(0.96);
    }
}

.DialogOverlay[data-state='open'],
.DialogContent[data-state='open'] {
    animation: DialogFadeIn 200ms ease-out;
}

.DialogOverlay[data-state='closed'],
.DialogContent[data-state='closed'] {
    animation: DialogFadeOut 200ms ease-in;
}

@keyframes OptionFadeIn {
    from {
        opacity: 0;
        transform: translateX(1%) scale(0.98);
    }

    to {
        opacity: 1;
        transform: translateX(0%) scale(1);
    }
}

@keyframes OptionFadeOut {
    from {
        opacity: 1;
        transform: translateX(0%) scale(1);
    }

    to {
        opacity: 0;
        transform: translateX(1%) scale(0.98);
    }
}

.OptionContent[data-state='open'] {
    animation: OptionFadeIn 200ms ease-out;
}

.OptionContent[data-state='closed'] {
    animation: OptionFadeOut 200ms ease-in;
}