---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: buildruns.distribution.kloudlite.io
spec:
  group: distribution.kloudlite.io
  names:
    kind: BuildRun
    listKind: BuildRunList
    plural: buildruns
    singular: buildrun
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: BuildRun is the Schema for the buildruns API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: BuildRunSpec defines the desired state of BuildRun
            properties:
              accountName:
                type: string
              buildOptions:
                properties:
                  buildArgs:
                    additionalProperties:
                      type: string
                    type: object
                  buildContexts:
                    additionalProperties:
                      type: string
                    type: object
                  contextDir:
                    type: string
                  dockerfileContent:
                    type: string
                  dockerfilePath:
                    type: string
                  targetPlatforms:
                    items:
                      type: string
                    type: array
                type: object
              cacheKeyName:
                type: string
              gitRepo:
                properties:
                  branch:
                    type: string
                  url:
                    type: string
                required:
                - branch
                - url
                type: object
              registry:
                properties:
                  host:
                    type: string
                  password:
                    type: string
                  repo:
                    properties:
                      name:
                        type: string
                      tags:
                        items:
                          type: string
                        type: array
                    required:
                    - name
                    - tags
                    type: object
                  username:
                    type: string
                required:
                - host
                - password
                - repo
                - username
                type: object
              resource:
                properties:
                  cpu:
                    type: integer
                  memoryInMb:
                    type: integer
                required:
                - cpu
                - memoryInMb
                type: object
            required:
            - accountName
            - gitRepo
            - registry
            - resource
            type: object
          status:
            properties:
              checks:
                additionalProperties:
                  properties:
                    generation:
                      format: int64
                      type: integer
                    message:
                      type: string
                    status:
                      type: boolean
                  required:
                  - status
                  type: object
                type: object
              isReady:
                type: boolean
              lastReadyGeneration:
                format: int64
                type: integer
              lastReconcileTime:
                format: date-time
                type: string
              message:
                type: object
                x-kubernetes-preserve-unknown-fields: true
              resources:
                items:
                  properties:
                    apiVersion:
                      description: 'APIVersion defines the versioned schema of this
                        representation of an object. Servers should convert recognized
                        schemas to the latest internal value, and may reject unrecognized
                        values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
                      type: string
                    kind:
                      description: 'Kind is a string value representing the REST resource
                        this object represents. Servers may infer this from the endpoint
                        the client submits requests to. Cannot be updated. In CamelCase.
                        More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                      type: string
                    name:
                      type: string
                    namespace:
                      type: string
                  required:
                  - name
                  - namespace
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
