---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: lambdas.serverless.kloudlite.io
spec:
  group: serverless.kloudlite.io
  names:
    kind: Lambda
    listKind: LambdaList
    plural: lambdas
    singular: lambda
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Lambda is the Schema for the lambdas API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: LambdaSpec defines the desired state of Lambda
            properties:
              containers:
                items:
                  properties:
                    args:
                      items:
                        type: string
                      type: array
                    command:
                      items:
                        type: string
                      type: array
                    env:
                      items:
                        properties:
                          key:
                            type: string
                          optional:
                            type: boolean
                          refKey:
                            type: string
                          refName:
                            type: string
                          type:
                            type: string
                          value:
                            type: string
                        required:
                        - key
                        type: object
                      type: array
                    envFrom:
                      items:
                        properties:
                          refName:
                            type: string
                          type:
                            description: must be one of config, secret
                            type: string
                        required:
                        - refName
                        - type
                        type: object
                      type: array
                    image:
                      type: string
                    imagePullPolicy:
                      default: IfNotPresent
                      type: string
                    livenessProbe:
                      properties:
                        failureThreshold:
                          type: integer
                        httpGet:
                          properties:
                            httpHeaders:
                              additionalProperties:
                                type: string
                              type: object
                            path:
                              type: string
                            port:
                              type: integer
                          required:
                          - path
                          - port
                          type: object
                        initialDelay:
                          type: integer
                        interval:
                          type: integer
                        shell:
                          properties:
                            command:
                              items:
                                type: string
                              type: array
                          type: object
                        tcp:
                          properties:
                            port:
                              type: integer
                          required:
                          - port
                          type: object
                        type:
                          enum:
                          - shell
                          - httpGet
                          - tcp
                          type: string
                      required:
                      - type
                      type: object
                    name:
                      type: string
                    readinessProbe:
                      properties:
                        failureThreshold:
                          type: integer
                        httpGet:
                          properties:
                            httpHeaders:
                              additionalProperties:
                                type: string
                              type: object
                            path:
                              type: string
                            port:
                              type: integer
                          required:
                          - path
                          - port
                          type: object
                        initialDelay:
                          type: integer
                        interval:
                          type: integer
                        shell:
                          properties:
                            command:
                              items:
                                type: string
                              type: array
                          type: object
                        tcp:
                          properties:
                            port:
                              type: integer
                          required:
                          - port
                          type: object
                        type:
                          enum:
                          - shell
                          - httpGet
                          - tcp
                          type: string
                      required:
                      - type
                      type: object
                    resourceCpu:
                      properties:
                        max:
                          type: string
                        min:
                          type: string
                      type: object
                    resourceMemory:
                      properties:
                        max:
                          type: string
                        min:
                          type: string
                      type: object
                    volumes:
                      items:
                        properties:
                          items:
                            items:
                              properties:
                                fileName:
                                  type: string
                                key:
                                  type: string
                              required:
                              - key
                              type: object
                            type: array
                          mountPath:
                            type: string
                          refName:
                            type: string
                          type:
                            type: string
                        required:
                        - mountPath
                        - refName
                        - type
                        type: object
                      type: array
                  required:
                  - image
                  - name
                  type: object
                type: array
              maxScale:
                default: 5
                type: integer
              minScale:
                default: 1
                type: integer
              nodeSelector:
                additionalProperties:
                  type: string
                type: object
              serviceAccount:
                default: kloudlite-svc-account
                type: string
              targetRps:
                default: 100
                type: integer
              tolerations:
                items:
                  description: The pod this Toleration is attached to tolerates any
                    taint that matches the triple <key,value,effect> using the matching
                    operator <operator>.
                  properties:
                    effect:
                      description: Effect indicates the taint effect to match. Empty
                        means match all taint effects. When specified, allowed values
                        are NoSchedule, PreferNoSchedule and NoExecute.
                      type: string
                    key:
                      description: Key is the taint key that the toleration applies
                        to. Empty means match all taint keys. If the key is empty,
                        operator must be Exists; this combination means to match all
                        values and all keys.
                      type: string
                    operator:
                      description: Operator represents a key's relationship to the
                        value. Valid operators are Exists and Equal. Defaults to Equal.
                        Exists is equivalent to wildcard for value, so that a pod
                        can tolerate all taints of a particular category.
                      type: string
                    tolerationSeconds:
                      description: TolerationSeconds represents the period of time
                        the toleration (which must be of effect NoExecute, otherwise
                        this field is ignored) tolerates the taint. By default, it
                        is not set, which means tolerate the taint forever (do not
                        evict). Zero and negative values will be treated as 0 (evict
                        immediately) by the system.
                      format: int64
                      type: integer
                    value:
                      description: Value is the taint value the toleration matches
                        to. If the operator is Exists, the value should be empty,
                        otherwise just a regular string.
                      type: string
                  type: object
                type: array
            type: object
          status:
            properties:
              checks:
                additionalProperties:
                  properties:
                    generation:
                      format: int64
                      type: integer
                    message:
                      type: string
                    status:
                      type: boolean
                  required:
                  - status
                  type: object
                type: object
              isReady:
                type: boolean
              lastReconcileTime:
                format: date-time
                type: string
              message:
                type: object
                x-kubernetes-preserve-unknown-fields: true
              resources:
                items:
                  properties:
                    apiVersion:
                      description: 'APIVersion defines the versioned schema of this
                        representation of an object. Servers should convert recognized
                        schemas to the latest internal value, and may reject unrecognized
                        values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
                      type: string
                    kind:
                      description: 'Kind is a string value representing the REST resource
                        this object represents. Servers may infer this from the endpoint
                        the client submits requests to. Cannot be updated. In CamelCase.
                        More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                      type: string
                    name:
                      type: string
                    namespace:
                      type: string
                  required:
                  - name
                  - namespace
                  type: object
                type: array
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
