---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: clusters.clusters.kloudlite.io
spec:
  group: clusters.kloudlite.io
  names:
    kind: Cluster
    listKind: ClusterList
    plural: clusters
    singular: cluster
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.accountName
      name: AccountName
      type: string
    - jsonPath: .spec.messageQueueTopicName
      name: QTopic
      type: string
    - jsonPath: .status.lastReconcileTime
      name: Last_Reconciled_At
      type: date
    - jsonPath: .metadata.annotations.kloudlite\.io\/resource\.ready
      name: Ready
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1
    schema:
      openAPIV3Schema:
        description: Cluster is the Schema for the clusters API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ClusterSpec defines the desired state of Cluster For now
              considered basis on AWS Specific
            properties:
              accountId:
                type: string
              accountName:
                type: string
              availabilityMode:
                enum:
                - dev
                - HA
                type: string
              aws:
                properties:
                  k3sMasters:
                    properties:
                      iamInstanceProfileRole:
                        type: string
                      imageId:
                        type: string
                      imageSSHUsername:
                        type: string
                      instanceType:
                        type: string
                      nodes:
                        additionalProperties:
                          properties:
                            availabilityZone:
                              type: string
                            lastRecreatedAt:
                              format: date-time
                              type: string
                            role:
                              enum:
                              - primary-master
                              - secondary-master
                              type: string
                          required:
                          - availabilityZone
                          - role
                          type: object
                        type: object
                      nvidiaGpuEnabled:
                        type: boolean
                      rootVolumeSize:
                        type: integer
                      rootVolumeType:
                        type: string
                    required:
                    - imageId
                    - imageSSHUsername
                    - instanceType
                    - nvidiaGpuEnabled
                    - rootVolumeSize
                    - rootVolumeType
                    type: object
                  nodePools:
                    additionalProperties:
                      properties:
                        instanceType:
                          type: string
                        nodes:
                          additionalProperties:
                            properties:
                              lastRecreatedAt:
                                format: date-time
                                type: string
                            type: object
                          type: object
                      required:
                      - instanceType
                      type: object
                    type: object
                  region:
                    description: AWSAccountId                 string                     `json:"awsAccountId"
                      graphql:"noinput"` AssumeRoleParamExternalIdRef *common_types.SecretKeyRef
                      `json:"awsAssumeRoleParamExternalIdRef,omitempty" graphql:"noinput"`
                    type: string
                  spotNodePools:
                    additionalProperties:
                      properties:
                        cpuNode:
                          properties:
                            memoryPerVcpu:
                              properties:
                                max:
                                  pattern: ^[0-9]+([.][0-9]{1,2})?$
                                  type: string
                                min:
                                  pattern: ^[0-9]+([.][0-9]{1,2})?$
                                  type: string
                              required:
                              - max
                              - min
                              type: object
                            vcpu:
                              properties:
                                max:
                                  pattern: ^[0-9]+([.][0-9]{1,2})?$
                                  type: string
                                min:
                                  pattern: ^[0-9]+([.][0-9]{1,2})?$
                                  type: string
                              required:
                              - max
                              - min
                              type: object
                          required:
                          - vcpu
                          type: object
                        gpuNode:
                          properties:
                            instanceTypes:
                              items:
                                type: string
                              type: array
                          required:
                          - instanceTypes
                          type: object
                        nodes:
                          additionalProperties:
                            properties:
                              lastRecreatedAt:
                                format: date-time
                                type: string
                            type: object
                          type: object
                        spotFleetTaggingRoleName:
                          type: string
                      required:
                      - spotFleetTaggingRoleName
                      type: object
                    type: object
                required:
                - region
                type: object
              backupToS3Enabled:
                type: boolean
              cloudProvider:
                allOf:
                - enum:
                  - aws
                  - do
                  - azure
                  - gcp
                - enum:
                  - aws
                  - do
                  - gcp
                  - azure
                type: string
              cloudflareEnabled:
                type: boolean
              clusterInternalDnsHost:
                type: string
              clusterTokenRef:
                properties:
                  key:
                    type: string
                  name:
                    type: string
                  namespace:
                    type: string
                required:
                - key
                - name
                type: object
              credentialKeys:
                properties:
                  keyAWSAccountId:
                    type: string
                  keyAWSAssumeRoleExternalID:
                    type: string
                  keyAWSAssumeRoleRoleARN:
                    type: string
                  keyAccessKey:
                    type: string
                  keyIAMInstanceProfileRole:
                    type: string
                  keySecretKey:
                    type: string
                required:
                - keyAWSAccountId
                - keyAWSAssumeRoleExternalID
                - keyAWSAssumeRoleRoleARN
                - keyAccessKey
                - keyIAMInstanceProfileRole
                - keySecretKey
                type: object
              credentialsRef:
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                required:
                - name
                type: object
              kloudliteRelease:
                type: string
              messageQueueTopicName:
                type: string
              output:
                properties:
                  keyK3sAgentJoinToken:
                    type: string
                  keyK3sServerJoinToken:
                    type: string
                  keyKubeconfig:
                    type: string
                  secretName:
                    type: string
                required:
                - keyK3sAgentJoinToken
                - keyK3sServerJoinToken
                - keyKubeconfig
                - secretName
                type: object
              publicDNSHost:
                type: string
              taintMasterNodes:
                type: boolean
            required:
            - accountId
            - accountName
            - availabilityMode
            - backupToS3Enabled
            - cloudProvider
            - credentialsRef
            - kloudliteRelease
            - messageQueueTopicName
            - publicDNSHost
            - taintMasterNodes
            type: object
          status:
            properties:
              checks:
                additionalProperties:
                  properties:
                    generation:
                      format: int64
                      type: integer
                    message:
                      type: string
                    status:
                      type: boolean
                  required:
                  - status
                  type: object
                type: object
              isReady:
                type: boolean
              lastReadyGeneration:
                format: int64
                type: integer
              lastReconcileTime:
                format: date-time
                type: string
              message:
                type: object
                x-kubernetes-preserve-unknown-fields: true
              resources:
                items:
                  properties:
                    apiVersion:
                      description: 'APIVersion defines the versioned schema of this
                        representation of an object. Servers should convert recognized
                        schemas to the latest internal value, and may reject unrecognized
                        values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
                      type: string
                    kind:
                      description: 'Kind is a string value representing the REST resource
                        this object represents. Servers may infer this from the endpoint
                        the client submits requests to. Cannot be updated. In CamelCase.
                        More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                      type: string
                    name:
                      type: string
                    namespace:
                      type: string
                  required:
                  - name
                  - namespace
                  type: object
                type: array
            type: object
        required:
        - metadata
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
