version: 3

vars:
  HelmChart: .
  HelmValuesFile: ./values.yaml

  ReleaseName: kloudlite-platform
  ReleaseNamespace: kl-core

includes:
  cmd:
    taskfile: ../../Taskfile.yml
    internal: true
    dir: ../..

tasks:
  debug:
    cmds:
      - helm install --dry-run --debug {{.ReleaseName}} --namespace {{.ReleaseNamespace}} --create-namespace {{.HelmChart}} -f {{.HelmValuesFile}} | {{.SCHELM}} -f /tmp/manifests
      - tree /tmp/manifests

  install:
    cmds:
      - helm upgrade --install {{.ReleaseName}} --namespace {{.ReleaseNamespace}} --create-namespace {{.HelmChart}} -f {{.HelmValuesFile}}

  dependency:update:
    vars:
      redpandaVersion: v22.1.6
    cmds:
      - |+
        if ! [[ -f ./templates/redpanda/crd-redpanda.vectorized.io_clusters.yaml ]]; then
          curl -L0 https://raw.githubusercontent.com/redpanda-data/redpanda/{{.redpandaVersion}}/src/go/k8s/config/crd/bases/redpanda.vectorized.io_clusters.yaml > ./templates/redpanda/crd-redpanda.vectorized.io_clusters.yaml
        fi
      - helm dependency update
