name: release kloudlite

on:
  workflow_dispatch:

  push:
    branches:
      - 'release-v*'
    tags:
      - '*'
    paths:
      - "api/**"
      - "operator/**"
      - "infrastructure-as-code/**"
      - "kubelet-metrics-reexporter/**"
      - ".github/workflows/**"

permissions:
  contents: write
  packages: write

env:
  K3S_RELEASE: "v1.28.6+k3s2"

jobs:
  # setup:
  #   - uses: dorny/paths-filter@v3
  #     id: changes
  #     with:
  #       filters: |
  #         api:
  #           - 'api/**'
  #         operator:
  #           - 'operator/**'
  #         infrastructure-as-code:
  #           - 'infrastructure-as-code/**'


  web:
    uses: ./.github/workflows/web.yml

  kl:
    uses: ./.github/workflows/kl.yml

  api:
    uses: ./.github/workflows/api.yml

  operator:
    uses: ./.github/workflows/operator.yml

  infrastructure-as-code:
    uses: ./.github/workflows/iac.yml

  autoscaler:
    uses: ./.github/workflows/autoscaler.yml

  github_release:
    needs:
      - api
      - operator
      - infrastructure-as-code
      - autoscaler
      - web
      - kl
    runs-on: ubuntu-latest
    name: Creating a Github Release
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: ci-artifacts

      - run: |+
          ls ci-artifacts/*

      - name: Create Release Tag from branch name
        id: gitref_branch
        if: startsWith(github.ref, 'refs/heads/release')
        shell: bash
        run: |
          set +e
          RELEASE_TAG=${GITHUB_REF#refs/heads/release-}
          echo "$RELEASE_TAG" | grep -i '\-nightly$'
          if [ $? -ne 0 ]; then
            RELEASE_TAG="$RELEASE_TAG-nightly"
          fi
          set -e

          echo "release_tag=$RELEASE_TAG" >> $GITHUB_ENV
          echo "override_release_assets=true" >> $GITHUB_ENV
          echo "github_branch=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV

      - name: Create Release Tag from git tag
        if: startsWith(github.ref, 'refs/tags/')
        id: gitref_tag
        shell: bash
        run: |
          RELEASE_TAG=$(echo ${GITHUB_REF#refs/tags/})

          echo "release_tag=$RELEASE_TAG" >> $GITHUB_ENV
          echo "override_release_assets=false" >> $GITHUB_ENV

      - name: Github Release
        uses: ./.github/actions/github-release/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          release_tag: ${{ env.release_tag }}
          github_ref: ${GITHUB_REF}
          files: |+
            ci-artifacts/**
