**
!src
!static
!lib
!*lock*
!package*
!package*
!remix.config.js
!tailwind.config.js
!scripts
!public/package.json
!jsconfig.json
!gql-queries-generator
!fake-data-generator/gen.ts
!tsconfig-compile.json
!tsconfig.json
!remix.env.d.ts
src/generated/node_modules
src/generated/plugin/node_modules
src/design-system/node_modules
